* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --background: #272932;
    --main-background: #1D1F25;
    --buttons-secundary: #A53860;
    --text: #C1CAD6;
    --font: 'Open Sans', sans-serif;
    --second-font: 'Lato', sans-serif;
}
html {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    font-size: 62.5%;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background-color: var(--buttons-secundary);
    width: 100%;
    height: 60px;
}
.header__nav {
    display: none;
}
.header__user {
    width: 40px;
    height: 40px;
    background: url('https://img.icons8.com/material-rounded/48/ffffff/menu--v3.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}

/* Side bar */
.main__side-bar {
    display: none;
}

/* Main intro */
.main__intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--background);
    font-size: 1.6rem;
    width: 100%;
    padding: 35px;
    color: var(--text);
    border-bottom: 2px solid var(--buttons-secundary);
}
.main__intro__info {
    width: 100%;
}
.main__intro__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.main__intro__info p {
    margin-bottom: 15px;
}
.main__intro__enjoy {
    text-align: center;
    font-weight: bold;
}

/* Search */
.main__intro__search {
    width: 100%;
    max-width: 1000px;
}
.main__intro__search input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid var(--buttons-secundary);
    border-radius: 25px;
    color: var(--text);
    font-size: 1.4rem;
    height: 50px;
    width: 100%;
    padding-left: 15px;
    outline: none;
}

/* Animes slider */
.main__anime {
    width: 100%;
    background-color: var(--main-background);
    border-bottom: 2px solid var(--buttons-secundary);
}
.anime__container {
    height: auto;
    padding: 25px 10px 25px 25px;
    color: var(--text);
}
.anime__categorie {
    font-family: var(--second-font);
    font-size: 2rem;
    font-weight: bold;
}
.anime__slider {
    display: flex;
    height: 200px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.slider__image {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    scroll-snap-align: center;
    width: 200px;
    height: 150px;
    margin: 15px 10px;
    background-color: aquamarine;
    flex-grow: 0;
    flex-shrink: 0;
}

/* Footer */
.footer {
    width: 100%;
    padding: 25px;
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--background);
    color: var(--text);
}
.footer__description {
    margin-bottom: 15px;
}